{{#if isDesktop}}
<td>{{link-to item.name 'comp.show' item.id}}</td>
<td>{{item.summary}}</td>
<td>{{amount}}</td>
<td>{{tag-labels tags=item.tags}}</td>
<td>
  {{#if item.files.datasheets}}
    {{file-link file=item.files.datasheets type='pdf'}}
  {{/if}}
</td>
{{/if}}