{{#if isDesktop}}
<div class="col-md-12">
  <ul class="pagination">
    {{#if pagination.previous}}
      <li>
	{{#link-to 'comp.index' (query-params page=pagination.previous)}}
	<span>&laquo;</gspan>
	{{/link-to}}
      </li>
    {{else}}
      <li class="disabled"><a>
	<span>&laquo;</span>
      </a></li>
    {{/if}}
    {{#each page in pageArray}}
      {{#if page.spacer}}
        <li class="disabled spacer"><a><span>...</span></a></li>
      {{else}}
        <li {{bind-attr class="page.active:active"}}>
	  {{#link-to 'comp.index' (query-params page=page.page.page)}}{{page.page}}{{/link-to}}
        </li>
      {{/if}}
    {{/each}}
    <li></li>
    {{#if pagination.next}}
      <li>
	{{#link-to 'comp.index' (query-params page=pagination.next)}}
	<span>&raquo;</span>
	{{/link-to}}
      </li>
    {{else}}
      <li class="disabled"><a>
	<span>&raquo;</span>
      </a></li>
    {{/if}}
  </ul>
</div>
{{/if}}