<div class="col-xs-12 pages-center pages">
{{#if isDesktop}}
  {{#each pageArray as |page|}}
    {{#if page.spacer}}
      <div class="disabled spacer"><a class="btn"><span>...</span></a></div>
    {{else}}
      <div class="{{page.active:active}} page">
	{{#link-to 'comp.index' (query-params page=page.page.page) class="btn btn-default"}}{{page.page}}{{/link-to}}
      </div>
    {{/if}}
  {{/each}}
{{else}}
  {{yield}}
{{/if}}
</div>
<div class="page-button page-button-left">
  {{#if pagination.previous}}
    {{#link-to 'comp.index' (query-params page=pagination.previous) class="btn btn-primary"}}
      <span>Previous</span>
    {{/link-to}}
  {{else}}
    <button class="btn btn-primary disabled">
      <span>Previous</span>
    </button>
  {{/if}}
</div>
<div class="page-button page-button-right">
  {{#if pagination.next}}
    {{#link-to 'comp.index' (query-params page=pagination.next) class="btn btn-primary"}}
      <span>Next</span>
    {{/link-to}}
  {{else}}
    <button class="btn btn-primary disabled">
      <span>Next</span>
    </button>
  {{/if}}
</div>
