<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-xs-12">
      <div class="form-group">
	<div class="input-group">
	  {{input id="search-query" value=searchQuery classBinding=":form-control"
          action="search" placeholder="Enter query"}}
	  <span class="input-group-btn">
	    <button class="btn btn-primary" {{action search searchQuery}}>Search</button>
	  </span>
	</div>
      </div>
    </div>
    {{#if model.meta.pagination.per_page}}
      {{#if isMobile}}
        {{pagination-mobile pagination=model.meta.pagination isMobile=isMobile}}
      {{else}}
        {{pagination-desktop pagination=model.meta.pagination isDesktop=isDesktop}}
      {{/if}}
      {{#if controllers.application.loading}}
        <div class="col-xs-12">
          Loading...
        </div>
      {{else}}
        <div class="col-xs-12">
          Showing {{pageStart}} - {{pageEnd}} of {{model.meta.query.total}}
          {{#if singleResult}}result{{else}}results{{/if}}
        </div>
      {{/if}}
    {{/if}}
    {{#if model}}
      {{#if isDesktop}}
        <div class="col-md-12 hidden-sm hidden-xs">
          <table class="table">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Summary</th>
	        <th>Amount</th>
	        <th>Tags</th>
	        <th>Datasheet</th>
	      </tr>
	    </thead>
	    <tbody>
	      {{#each item in model}}
                {{comp-list-item-desktop item=item isDesktop=isDesktop}}
	      {{/each}}
	    </tbody>
          </table>
        </div>
      {{/if}}
      {{#if isMobile}}
        <ul class="list-group hidden-md hidden-lg">
          {{#each item in model}}
            {{comp-list-item-mobile item=item isMobile=isMobile}}
          {{/each}}
        </ul>
      {{/if}}
    {{/if}}
  </div>
</div>
