<div class="container-fluid">
  <div class="col-md-6 col-lg-4">
    <div class="info-box">
      <div class="row info-box-header">
	<h3 class="col-xs-12">{{name}}</h3>
	{{#if session.isAuthenticated}}
	<div class="info-box-header-button">
	  {{#link-to 'comp.edit' id classBinding=":btn :btn-primary"}}<span>Edit</span>{{/link-to}}
	</div>
	{{/if}}
      </div>
      <div class="row info-box-body">
        <div class="info-box-content">
	  <p class="lead">{{summary}}</p>
	  <div>{{markdown-text description}}</div>
	  <p>
	    <strong>Amount: </strong>{{amount}}
	    {{#if spares}}
	      (+spares)
	    {{/if}}
	  </p>
          {{tag-labels tags=tags}}
	  {{#if session.isAuthenticated}}
	    <div class="container-fluid">&nbsp;</div>
	    <nav class="navbar navbar-default">
	      <div class="navbar-header">
	        <a href="javascript:void(0);" class="navbar-brand">Add</a>
	      </div>
	      <button type="button" {{action 'upload' 'Datasheet'}} class="btn btn-default navbar-btn">Datasheet</button>
	      <button type="button" {{action 'upload' 'Document'}} class="btn btn-default navbar-btn">Document</button>
	      <button type="button" {{action 'upload' 'Image'}} class="btn btn-default navbar-btn">Image</button>
	    </nav>
	    {{file-upload componentId=id id="uploadDatasheet" class="hide-element" dataType="Datasheet"}}
	    {{file-upload componentId=id id="uploadDocument" class="hide-element" dataType="Document"}}
	    {{file-upload componentId=id id="uploadImage" class="hide-element" dataType="Image"}}
	  {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{#if hasFiles}}
    <div class="col-md-6 col-lg-6">
      {{#if files.datasheets}}
        {{file-box componentId=model.id name='Datasheets' files=files.datasheets type='thumbnails' imageSize=240}}
      {{/if}}
      
      {{#if files.documents}}
        {{file-box componentId=model.id name='Documents' files=files.documents type='list'}}
      {{/if}}
      
      {{#if files.images}}
        {{file-box componentId=model.id name='Images' files=files.images type='thumbnails' imageSize=160}}
      {{/if}}
    </div>
  {{/if}}
</div>
